.selectableShips
  display flex
  flex-direction: row
  align-items: flex-flex-start;

.selectableShip
  display flex
  flex-direction: row
  align-items: flex-flex-start;
  margin 0 2rem

  div
    margin 0 0.5rem
