@import '../../utils/common.styl'

.meta
  @extend $flexRowWrap
  margin-bottom: 0.5em

  & > div
    margin-right 1em
    margin-bottom 0.5em

.ships
  @extend $flexRowWrap
  & > div
    margin-right 0.5em
    margin-bottom 0.5em


.players
  @extend $flexRowWrap
  justify-content: space-around

.player
  width 400px
  margin 0 10px
  font-size 0.9rem

.playerBoard
  @extend $flexColumn
  background-color: #efefef
  border-radius: 5px
  padding 1rem

.playerId
  font-size 0.8rem
  margin-bottom 1rem

.noOpponentYet
  font-size 1.2rem

$marker
  @extend $flexColumn
  width 100%
  height 100%
  font-size 1.5rem
  padding 0.1em
  & > i
    display block

.hitMarker
  @extend $marker
  color: #f00

.missMarker
  @extend $marker
  color: #999
