@import '../../utils/common.styl'

.container
  @extend $flexColumn


.selectableShips
  display flex
  flex-direction: row
  align-items: flex-flex-start;
  margin-bottom 1rem

.selectableShip
  display flex
  flex-direction: row
  align-items: flex-flex-start;
  margin 0 0.5rem

  div
    margin 0 0.2rem

.button
  margin-top 1rem
