@import 'nib'
@import 'rupture'

global-reset()

fontOpenSans()
  font-family: 'Open Sans'
  font-weight: 400
  font-style: normal

*, html
  box-sizing border-box
  fontOpenSans()
  font-size 14px

h2
  font-size 1.5rem
  margin 1em 0
